<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Flairs</h1>

      <ul class="list-group">
            <% for(var i=0; i<flairs.length; i++) { %>
                    <li>
                        <%= flairs[i] %>
                    </li>
                <% } %>
        </ul>

    </main>
  </body>
</html>