<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>

        <main>
            <h1><%= post.title %></h1>

            <p><%= post.title %></p>
            <a href="/topics/<%= post.topicId %>/posts/<%= post.id %>/edit" class="btn btn-warning">Edit</a>
        </main>

        <% include ../static/partials/baseScripts.ejs %>

    </body>
</html>